html {
    width: 100%;
}

body {
    width: 100%;
    min-width: 850px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h2 {
    padding-bottom: 1%;
    font-weight: bold;
    font-size: 28px;
    color: #305966;
}

p {
    padding: 1%;
    font-weight: bold;
    font-size: 20px;
    color: #598089;
    line-height: 30px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


#main {
    position:relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
    font-family: Arial;
}



/************************************************ header css code ***/
.header {
    width: 100%;
    height: 80px;
    background-image: url(../images/_index/index_lyaout_V2_Final_Cut-01.png);
    background-size: 100% 80px;
}

.nav_logo {
    position: relative;
    z-index: 0;
    width: 120px;
    height: auto;
    top: 20px;
    left: 10%;
    float: left;
}

.nav_menu {
    width: 670px;
    height: 25px;
    position: relative;
    z-index: 2;
    top: 24px;
    font-size: 20px;
    color: #ffffff;
    float: right;
}
    .nav_menu .menu_up {
        background-image:url(../Images/_index/menu_down.png);
        background-repeat:no-repeat;
        background-size:20px auto;
        background-position-x:100%;
        background-position-y:50%;
        text-align:left;
        width:105px;
        height:auto;
    }
    /*.nav_menu .menu_up:hover {
        background-image:url(../Images/_index/menu_down.png);
    }*/

    .nav_menu a {
        color: #ffffff;
    }

    .nav_menu li {
        display: inline-block;
        position: relative;
        z-index: 9;
        vertical-align: top;
        height: 65px;
        margin: auto 20px;
    }

        /*.nav_menu li:hover .nav_menu2 {
            display: block;
        }*/

.nav_menu2 {
    display: none;
    border-radius: 15px;
    background-color: #13333f;
    position: absolute;
    z-index: auto;
    top: 60px;
    width: 220px;
    margin-left: -65%;
    opacity: 0.9;
}

    .nav_menu2 li {
        width: 220px;
        height: 50px;
        line-height: 50px;
        margin: auto auto;
        padding-right: 20px;
    }

        /*.nav_menu2 li:hover .nav_menu3 {
            display: block;
        }*/

.nav_menu3 {
    display: none;
    position: absolute;
    z-index: auto;
    top: -15px;
    left: 225px;
    border-radius: 10px;
    background-color: #13333f;
}

    .nav_menu3 li {
        width: 280px;
        height: 50px;
        line-height: 50px;
        padding-right: 0px;
    }

.nav_menu2 ul {
    margin: 15px auto;
}

.nav_menu img {
    height: 26px;
}

/****************************************** header css -end ***/

#article {
    background-image: url(../images/bg/index_lyaout_V3_Final_Cut-24.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 70%;
}

#article2 {
    background-image: url(../images/bg/index_lyaout_V3_Final_Cut-25.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 100%;
    margin-top:50px;
}


.section01, .section02 {
    width: 80%;
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.section01 li {
    background-image: url(../images/_product/02/product_4-05_w12Xh13.png);
    background-repeat: no-repeat;
    text-align: left;
    line-height: 40px;
}


.section01_txt {
    /*border: 1px solid #000;*/
    width: 80%;
    padding-bottom: 5%;
    margin-left: 10%;
}

    .section01_txt p, .section02_txt p {
        background-image: url(../images/_product/02/product_4-05_w12Xh13.png);
        background-repeat: no-repeat;
        background-size: 8px auto;
        background-position-y: 50%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-left: 25px;
        text-align: left;
        line-height: 40px;
    }

.section02_txt p {
    background-image: url(../images/_product/02/product_4-05_w12Xh13_2.png);
    background-position-x: 100%;
    padding-right: 8%;
    text-align: right;
}
.section_des {
    width:85%;
    font-weight: normal;
    text-align:left;
    margin:auto;
}
/************************************   index人流 css   */
.people_ot { /*中心人流*/
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 220px;
    height: 220px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-27.png);
    background-size: 220px 220px;
    top: 50px;
    font-weight: bold;
    margin: auto 3%;
}

    .people_ot td {
        vertical-align: middle;
    }

.people_ot_tr1, .people_ot_tr2 {
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-32.png);
    background-size: 200px 55px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.people_ot_tr2 {
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-33.png);
}

    .people_ot_tr1 img, .people_ot_tr2 img {
        width: 45px;
    }

.people_ot h4 {
    font-size: 24px;
    color: #663022;
    text-shadow: 0 0 1px #663022, 0 0 1px #663022, 0 0 1px #663022;
    letter-spacing: 17px;
    padding-top: 15px;
    padding-left: 15px;
}

.people_ot p {
    font-size: 18px;
    color: #bc664b;
}

.people_ot_fo1 {
    font-size: 30px;
    color: #327c7f;
}

.people_ot_fo2 {
    font-size: 20px;
    color: #327c7f;
    padding-right: 20px;
}

.site_people { /*各場人流*/
    position: relative;
    z-index: 1;
    width: 800px;
    height: 220px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-36.png);
    background-size: 800px 220px;
    margin: 5% auto;
    top: 50px;
}
    .site_people .left_arr {
        position: absolute;
        z-index: -1;
        width: 15px;
        top: 45%;
        left: 10px;
        right: auto;
    }
    .site_people .right_arr {
        position: absolute;
        z-index: -1;
        width: 15px;
        top: 45%;
        left: auto;
        right: 10px;
    }

    .site_people h3 {
        font-weight: bold;
        font-size: 28px;
        color: #fff;
    }

    .site_people h4 {
        font-weight: bold;
        font-size: 20px;
        color: #305966;
        padding-top: 7px;
    }

.site_people_tb {
    display: inline-block;
    position: relative;
    z-index: 1;
    width: 160px;
    height: 160px;
    background-image: url(../images/_index/index_lyaout_V3_Final_Cut-38.png);
    background-size: 160px 160px;
    top: -100px;
    margin-left: 10px;
    margin-right: 10px;
}

.site_people_fitness {
    font-weight: bold;
    color: #e5cb5e;
}

.site_people_swim {
    font-weight: bold;
    color: #3f6299;
}

.site_people_ice {
    font-weight: bold;
    color: #559970;
}
/*******************************index人流 css -end*/

/*******************************prduct01 css*/
.product01_sbg1, .product01_sbg2 {
    background-image: url(../images/bg/product_0-14_w1336Xh348.png);
    background-size: 75% auto;
    background-repeat: no-repeat;
    background-position: center;
}
.product01_sbg1 {
    background-position-y: 5%;
}
.product01_sbg2 {
    background-position-y: 94%;
}

.product01_dv {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 2% 3%;
}

    .product01_dv font {
        font-size: 20px;
    }

    .product01_dv img {
        width: 90%;
        max-width: 200px;
    }

/*******************************prduct01 css -end*/
/*******************************聯絡我們 css code*/
.contact_fm {
    margin-top: 5%;
    font-weight: bold;
    font-size: 18px;
    color: #598089;
    line-height: 45px;
}

    .contact_fm input {
        font-size: 18px;
        background-color: transparent;
        text-align: left;
        width: 190px;
    }

    .contact_fm select {
        font-weight: bold;
        font-size: 18px;
        width: 82px;
        color: #598089;
        background-color: transparent;
    }

    .contact_fm textarea {
        background-color: transparent;
        resize: none;
    }

#submit_LM {
    -webkit-appearance: none; /* Safari 和 Chrome，常用於iOS下移除內建樣式 */
    -moz-appearance: none; /* FireFox */
    /*appearance: none;*/
    width: 200px;
    height: 45px;
    margin-top: 20px;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: aliceblue;
    background-color: rgb(98,144,158);
    letter-spacing: 10px;
}

#submit_thx {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: -10px;
}
/*******************************聯絡我們 css -end*/
/*******************************qa css code*/
#search {
    width: 320px;
}

#search_send {
    float: right;
    width: 120px;
}

.qa_dv a {
    display: inline-block;
}

.qa1_btn, .qa2_btn, .qa3_btn {
    width: 160px;
    height: 50px;
    margin-top: 30%;
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-11.png);
    background-size: 160px 50px;
}

    .qa1_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-12.png);
    }

.qa2_btn {
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-13.png);
}

    .qa2_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-14.png);
    }

.qa3_btn {
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-15.png);
}

    .qa3_btn:hover {
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-16.png);
    }

.qa1_text {
    display: inline-block;
    width: 500px;
    height: 300px;
    background-image: url(../images/_qa/qanda_lyaout_Final_Cut-17.png);
    background-size: 500px 300px;
    margin-top: 5%;
}

    .qa1_text select {
        width: 280px;
        height: 30px;
        border-style: none;
        background-image: url(../images/_qa/qanda_lyaout_Final_Cut-18.png);
        background-size: 280px 30px;
        background-color: transparent;
        font-weight: bold;
        font-size: 18px;
        color: #598089;
        margin-top: 10%;
        margin-left: 25%;
        padding-left: 15px;
    }

    .qa1_text textarea {
        width: 230px;
        height: 90px;
        border-style: none;
        background-color: transparent;
        padding: 30px;
        font-weight: bold;
        font-size: 18px;
        color: #598089;
        margin-top: 13%;
        margin-left: 40%;
        resize: none;
    }
/************************************qa css code -end*/

/************************************************************************/
/************************************************************************/
@media only screen and (max-width:430px) {

    body {
        min-width: 100%;
    }

    p {
        transform: scale(0.8);
    }

    #main {
        width: 100%;
        border-bottom: 0px solid #000000;
        border-left: 0px solid #000000;
        border-right: 0px solid #000000;
    }

    .nav_logo {
        transform: scale(0.8);
        margin-top: -3%;
        margin-left: 23%;
    }

    .nav_menu {
        transform: scale(0.7);
        display: inline-block;
        top:-15px;
        margin-left: -30%;
        float: none;
    }

    .nav_menu li{
        margin:auto 15px;
        height: 70px;
        padding-top:50px;
    }
    .nav_menu2{
        margin-top:40px;
        margin-left:-70px;
    }
        .nav_menu2 li {
            margin: auto;
            height:50px;
            padding-top: 0px;
        }

    .people_ot {
        transform: scale(0.4);
        margin-top: -25%;
        margin-bottom: -20%;
        margin-left: -15%;
        margin-right: -15%;
        width: auto;
    }
    .section_des {
        width:320px;
    }

    .section01_txt, .section02_txt {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        margin: auto auto;
        top: 40px;
        left: -15px;
        padding-top: 150px;
    }

    .section01_txt p, .section02_txt p {
        line-height: 30px;
    }

    .mobile_index_txt {
        transform: scale(1.5);
    }

    .mobile_index_img {
        transform: scale(1.3);
    }

    .site_people {
        transform: scale(0.4);
        margin-left: -70%;
        margin-top: -30%;
    }
    .product01_sbg1 , .product01_sbg2 {
        background-image: url(../images/bg/product_0-14_w1336Xh348_phone.png);
        background-size:90% auto;
    }
    .product01_sbg2{
        background-position-y:96%;
    }
    .product01_dv {
        display: inline-block;
        width: 40%;
        vertical-align: top;
        margin: 5% 4%;
    }

    .product01_dv font {
        font-size: 14px;
    }

    .mobile_product02_td p {
        margin-left: -20%;
        font-size: 14px;
    }

    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        transform: scale(0.5);
        position: relative;
        z-index: auto;
        margin: -100% auto;
        top: -65px;
    }
    .mobile_product11_txt {
        position: relative;
        z-index: auto;
        top: -15px;
    }
    .mobile_product13_txt {
        top: 20px;
    }

    .mobile_product21_ta {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        left: -25%;
    }

    .mobile_product21_td {
        width: 100px;
    }

    .mobile_product21_td_2 {
        width: 150px;
    }

    .mobile_product21_txt {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        top:-150px;
        left:100px;
    }

    .mobile_product21_img {
        transform: scale(1.2);
        position: relative;
        z-index: auto;
        top: 50px;
    }

    .mobile_product22_txt1 {
        transform: scale(0.7);
        position:absolute;
        z-index:auto;
        top:580px;
        left:170px;
    }
    .mobile_product22_txt2 {
        transform: scale(0.7);
        position:absolute;
        z-index:auto;
        top:920px;
        left:120px;
    }
    .mobile_product22_txt2 div{
        margin:auto -20px;
    }

    .mobile_product22_img {
        transform: scale(0.8);
        position: relative;
        z-index: auto;
        left: -25px;
    }

    .mobile_product23_txt1, .mobile_product23_img1, .mobile_product23_txt2, .mobile_product23_img2, .mobile_product23_img3 {
        position: relative;
        z-index: auto;
    }
    .mobile_product23_txt3 {
        position: absolute;
        z-index: auto;
    }

    .mobile_product23_img1 {
        transform: scale(0.7);
        left:-30px;
    }
    .mobile_product23_txt1 {
        transform: scale(0.7);
        top:-30px;
        left:60px;
    }
    .mobile_product23_img2 {
        transform: scale(0.7);
        left: 30px;
    }
    .mobile_product23_txt2 {
        transform: scale(0.7);
        top:-50px;
        left:-70px;
    }
    .mobile_product23_img3 {
        transform: scale(1.2);
        top: 20px;
        left: -20px;
    }
    .mobile_product23_txt3 {
        transform: scale(0.7);
        top:2150px;
        left:110px;
    }

    .mobile_product31_img, .mobile_product31_img2, .mobile_product31_img3 {
        position: relative;
        z-index: auto;
    }
    .mobile_product31_txt, .mobile_product31_txt2, .mobile_product31_txt3 {
        position: absolute;
        z-index: auto;
    }
    .mobile_product31_txt{
        top:850px;
        right:-30px;
    }
    .mobile_product31_txt2{
        top:910px;
        left:-30px;
    }
    .mobile_product31_txt3{
        top:1040px;
        right:-60px;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.5);
        top:67%;
        left: -20%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.5);
        top: 64%;
        left: -15%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.5);
        top: -50px;
        left: -80px;
        margin: -10% auto;
    }

    .mobile_contactus01_in {
        position: relative;
        z-index: auto;
    }

    .mobile_contactus01_text {
        position: relative;
        z-index: auto;
        margin-bottom:200px;
        width: 200px;
        height: auto;
        top: 180px;
        left: -155px;
    }

    .mobile_contactus01_text textarea {
        margin-left: 25px;
    }

    #submit_thx {
        width: 100%;
    }
}

@media only screen and (min-width:371px) and (max-width:375px) {
    .nav_menu {
        transform: scale(0.6);
        margin-top:5px;
        margin-left: -38%;
    }

    .site_people {
        margin-left: -85%;
        margin-top: -32%;
    }
    .section_des {
        width: 105%;
        margin:auto -10px;
    }
    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -30px;
    }

    .mobile_product21_ta {
        left: -35%;
    }

    .mobile_product22_txt1 {
        top:550px;
    }

    .mobile_product22_txt2 {
        top:880px;
    }

    .mobile_product23_txt1 {
        left: 70px;
    }

    .mobile_product23_txt2 {
        left: -80px;
    }

    .mobile_product23_txt3 {
        top: 2100px;
        left: 80px;
    }

    .mobile_product31_txt {
        top: 810px;
    }

    .mobile_product31_txt2 {
        top: 880px;
    }

    .mobile_product31_txt3 {
        top: 1000px;
    }
    .mobile_aboutus01_img {
        width: 350px;
        margin:auto -8%;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.4);
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.4);
    }

    .mobile_aboutus02_img {
        transform: scale(0.4);
        margin:-25% auto;
        left:-30%;
    }
    .mobile_contactus01_in {
        left: -15px;
    }
}

@media only screen and (min-width:321px) and (max-width:370px) {
    .nav_menu {
        transform: scale(0.6);
        margin-top: 5px;
        margin-left: -42%;
    }
    .section_des {
        width: 320px;
        margin:auto -25px;
    }
    .site_people {
        margin-left: -88%;
        margin-top: -35%;
    }
    
    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -20px;
    }

    .mobile_product21_ta {
        left: -35%;
    }

    .mobile_product22_txt1 {
        top:540px;
        left:150px;
    }

    .mobile_product22_txt2 {
        top:860px;
        left:100px;
    }

    .mobile_product23_txt1 {
        left: 70px;
    }

    .mobile_product23_txt2 {
        left: -80px;
    }

    .mobile_product23_txt3 {
        top: 2090px;
        left: 70px;
    }

    .mobile_product31_txt {
        top: 750px;
    }

    .mobile_product31_txt2 {
        top: 830px;
    }

    .mobile_product31_txt3 {
        top: 940px;
        right:-70px;
    }
    .mobile_aboutus01_img {
        width: 350px;
        margin: auto -8%;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.4);
        left: -20%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.4);
        left: -20%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.4);
        left:-35%;
        margin: -25% auto;
    }

    .mobile_contactus01_in {
        left: -20px;
    }
}

@media only screen and (max-width:320px) {
    .nav_menu {
        transform: scale(0.5);
        margin-top: 10px;
        margin-left: -54%;
    }

    .people_ot {
        margin-top: -30%;
        margin-left: -20%;
        margin-right: -20%;
    }

    .site_people {
        transform: scale(0.3);
        margin-left: -105%;
        margin-top: -45%;
    }
    .section_des {
        width: 300px;
        margin: auto -25px;
    }
    .section01_txt {
        left: -35px;
        padding-top: 110px;
    }
    .mobile_product11_img, .mobile_product12_img, .mobile_product13_img {
        top: -20px;
        left: -15px;
    }

    .mobile_product11_txt {
        top: -40px;
    }

    .mobile_product21_ta {
        transform: scale(0.7);
        left: -45%;
    }

    .mobile_product21_txt {
        transform: scale(0.7);
        top: -110px;
        left: 110px;
    }

    .mobile_product22_txt1 {
        top: 550px;
        left: 100px;
    }

    .mobile_product22_txt2 {
        top: 850px;
        left: 70px;
    }

    .mobile_product22_img {
        left: -40px;
    }

    .mobile_product23_txt1 {
        left: 90px;
    }

    .mobile_product23_txt2 {
        left: -70px;
    }

    .mobile_product23_txt3 {
        top: 2000px;
        left: 30px;
    }
    .mobile_product31_txt {
        top: 770px;
        right:-40px;
    }

    .mobile_product31_txt2 {
        top: 790px;
        left:-40px;
    }

    .mobile_product31_txt3 {
        top: 930px;
        right:-80px;
    }
    .mobile_aboutus01_img {
        transform: scale(0.9);
        width: 350px;
        margin: auto -20%;
    }

    .mobile_aboutus02_h2 {
        transform: scale(0.8);
        width: 280px;
        margin-left: -5%;
    }

    .mobile_aboutus02_txt1 {
        transform: scale(0.4);
        left: -30%;
    }

    .mobile_aboutus02_txt2 {
        transform: scale(0.4);
        top:70%;
        left: -20%;
    }

    .mobile_aboutus02_img {
        transform: scale(0.4);
        left: -45%;
        margin: -30% auto;
    }

    .mobile_contactus01_in {
        transform: scale(0.9);
        left: -35px;
    }

    .mobile_contactus01_text {
        transform: scale(0.9);
        width: 500px;
        height: 400px;
        top: 170px;
        left: -168px;
    }
}
